.wrapper {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: transform 0.5s ease, height 0.2s ease;

	.form-box {
		box-sizing: border-box;
		width: 100%;
		max-width: 800px;
		padding: 40px;
	}
	.form-box.login {
		transition: transform 0.18s ease;
		transform: translateX(0);
	}

	&.active .form-box.login {
		transition: none;
		transform: translateX(-100%);
	}
	.form-box.register {
		position: absolute;
		transition: none;
		transform: translateX(100%);
	}

	&.active .form-box.register {
		transition: transform 0.18s ease;
		transform: translateX(0);
	}
}
