.login-section {
    height: 100vh;
    display: flex;
}

.main-content {
    display: flex;
}

.panel-flex {
    display: flex;
}

.hidden {
    display: none;
}

.reset-button {
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: transparent;
}