@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  font-family: Arimo, Inter, system-ui, Avenir, Helvetica, sans-serif;
  font-weight: 500;
}

#root, body {
  margin: 0;
  padding: 0;

}